@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
}

.home {
  background: url(../../Illustrations/IllustrationGame/Batgame_1.png) no-repeat top center/cover;
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*les couleurs*/
/*bordure de la ligne*/
/*bordure en haut*/
/*bordure largeur*/
/* largeur du hero class */
/*Les font*/
.home .menu {
  width: 86%;
  border-style: solid;
  border-bottom-width: 0.1rem;
  border-left-width: 0.1rem;
  border-right-width: 0.1rem;
  border-color: rgba(188, 187, 189, 0.2);
  border-top: none;
  height: 132px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-content: center;
}

.home .menu .one {
  padding-left: 4rem;
}

.home .menu .one img:hover {
  cursor: pointer;
  filter: brightness(75%) sepia(80) saturate(20) hue-rotate(5deg);
}

.home .menu .two ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.home .menu .two ul li {
  list-style: none;
  padding: 0 2em;
}

.home .menu .two ul li:nth-child(2) a {
  text-decoration: underline;
}

.home .menu .two ul li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Rajdhani", sans-serif;
  font-size: 22px;
}

.home .menu div h1 {
  color: #ffffff;
  font-family: "Rajdhani", sans-serif;
  font-size: 36px;
  text-decoration: underline;
  text-transform: capitalize;
  cursor: pointer;
}

.home .hero {
  width: 86%;
  height: 110vh;
  border-style: solid;
  border-color: rgba(188, 187, 189, 0.2);
  border-top-width: 0.1rem;
  border-left-width: 0.1rem;
  border-right-width: 0.1rem;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home .hero article {
  display: block;
  margin-right: auto;
  padding: 4em;
}

.home .hero article h1 {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 36px;
}

.home .hero aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 300px;
  position: fixed;
  right: 3.2%;
  top: 32%;
  z-index: 1;
}

.first-show {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-show .bouton {
  padding: 1rem 2rem;
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background: linear-gradient(0.25turn, #AA7A48, #B88340);
  color: #ffffff;
  transition: background 0.3s ease-in-out;
}
.first-show .bouton:hover {
  background: linear-gradient(0.25turn, #B98036, #5D433F);
}

.home .hero aside div img:hover {
  cursor: pointer;
  filter: brightness(75%) sepia(80) saturate(20) hue-rotate(5deg);
}

.home .hero aside .flèche-bat a img:hover {
  filter: brightness(75%) sepia(80) saturate(20) hue-rotate(5deg);
}

.start-game {
  width: 100%;
  height: 150vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-game .display-game {
  width: 86%;
  border-style: solid;
  border-color: rgba(188, 187, 189, 0.2);
  border-top: none;
  border-left-width: 0.1rem;
  border-right-width: 0.1rem;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

footer {
  width: 86%;
  height: 50vh;
  border-style: solid;
  border-color: rgba(188, 187, 189, 0.2);
  border-top: none;
  border-left-width: 0.1rem;
  border-right-width: 0.1rem;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #C4C4C4;
  font-family: "Space Grotesk", sans-serif;
  font-size: 12px;
  display: flex;
  align-items: center;
}

footer p img {
  margin: 0 1em;
}

footer .logos-footer {
  display: flex;
  align-items: center;
}

footer .logos-footer img {
  margin: 0 1em;
}
footer .logos-footer img:hover {
  cursor: pointer;
  filter: brightness(75%) sepia(80) saturate(20) hue-rotate(5deg);
}

#score {
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
}

#imagesContainer {
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#imagesContainer img {
  max-inline-size: 100%;
  block-size: auto;
}

#showquesopt {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#showquesopt #question {
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 22px;
  margin-bottom: 1em;
}

#showquesopt #options .cnt-inp {
  padding: 1em 0.4em;
  background-color: rgba(237, 222, 191, 0.4);
  margin: 0.5em 0;
}

#showquesopt #options .cnt-inp input[type=checkbox] {
  width: 1.8em;
  height: 1.8em;
  margin: 0 0.5em;
}

#showquesopt #options .cnt-inp label {
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 22px;
  cursor: pointer;
}

#submit {
  padding: 1rem 2rem;
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background: linear-gradient(0.25turn, #AA7A48, #B88340);
  color: #ffffff;
  transition: background 0.3s ease-in-out;
  z-index: 2;
}
#submit:hover {
  background: linear-gradient(0.25turn, #B98036, #5D433F);
}

#result {
  width: 80%;
  position: absolute;
  height: 70vh;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#result #resultH1 {
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 34px;
  text-decoration: underline;
  text-transform: uppercase;
}

#result #resultP {
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  width: 60%;
  margin: 2rem 0;
}

.start-game .display-game a {
  z-index: 2;
  margin-block-end: 9em;
}

#mybutton {
  padding: 1rem 2rem;
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background: linear-gradient(0.25turn, #AA7A48, #B88340);
  color: #ffffff;
  transition: background 0.3s ease-in-out;
}
#mybutton:hover {
  background: linear-gradient(0.25turn, #B98036, #5D433F);
}

.content-image-question {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 70vh;
  margin: 1.5em 0;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .home {
    background: url(../../Illustrations/IllustrationGame/Batgame_1.png) no-repeat center center/contain;
  }
  .home .menu {
    display: flex;
    flex-direction: column;
    height: 40vh;
  }
  .home .menu .two ul {
    display: flex;
    flex-direction: column;
  }
  .home .menu .two ul li {
    margin: 1em 0;
  }
  .home .menu .one img {
    width: 80px;
    height: 56px;
  }
  .home .hero article h1 {
    font-size: 34px;
  }
  .home .hero aside {
    right: -4.3%;
  }
  .home .hero aside div.flèche-bat img {
    width: 2em;
    height: 2em;
  }
  .home .menu div h1 {
    font-size: 34px;
  }
  footer p {
    padding: 0 2em;
  }
  footer .logos-footer {
    margin: 1.5em 0;
  }
  footer .logos-footer img {
    margin: 0 0.5em;
    width: 1.5em;
    height: 1.5em;
  }
  .content-image-question {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 120vh;
  }
  #imagesContainer {
    width: auto;
  }
  #showquesopt {
    width: auto;
  }
  #showquesopt #question {
    text-align: center;
  }
  .start-game {
    height: 180vh;
  }
  .start-game .display-game {
    height: 170vh;
  }
  #result #resultH1 {
    text-align: center;
  }
}

/*# sourceMappingURL=game.css.map */
