@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
}

.home {
  background: url(../Illustrations/Batgame_1.png) no-repeat top center/cover;
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav{
  width: 100%;
  height: 132px;
  display: flex;
  align-items: center;
   justify-content: space-between;  
  padding-left: 10px ; 
  padding-right: 10px;
}
#HOME{
  text-decoration: none;
  color: #ffffff;
  padding-right: 15px;
}

#sousNav{
  border-top: 2px solid  #BCBBBD ;
}

.link{
  font-family: '', sans-serif;
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 25px;
}

#link1{
  top: 10%;
  left: 74%;
}

#link2{
  top: 10%;
  left: 86.5%;
  font-weight: bold;
  text-decoration: underline;
}

.nav-links a {       
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.home .menu {
  width: 86%;
  border-style: solid;
  border-bottom-width: 0.1rem;
  border-left-width: 0.1rem;
  border-right-width: 0.1rem;
  border-color: rgba(188, 187, 189, 0.2);
  border-top: none;
  height: 132px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-content: center;
}

.home .hero {
  width: 86%;
  height: 110vh;
  border-style: solid;
  border-color: rgba(188, 187, 189, 0.2);
  border-top-width: 0.1rem;
  border-left-width: 0.1rem;
  border-right-width: 0.1rem;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  align-items: rigth;
  justify-content: space-between;
}

.home .hero article {
  width: 40%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .hero article div.contenu-text h1 {
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 36px;
  padding: 0.5em 0;
}

.home .hero aside {                                    
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 300px;
  position: fixed;
  right: 3.2%;
  top: 44%;
  z-index: 1;
}

.cinema-batman {
  background-color: #000000;
  width: 100%;
  height: 140vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cinema-batman .art article h1 {          
  margin:"auto";
  display:block;
  text-align: center;
  color: #ffffff;
  font-family: "Rajdhani", sans-serif;
  font-size: 30px;
  padding: 0 4rem;
}

.question{
  position: absolute; 
  top: 145%;
  left: 33%;  
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  color: #ffffff;
}

.btn {
  background: linear-gradient(0.25turn, #a39a87, #865408);   
  border: none; 
  color: white; 
  padding: 20px 65px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 10px; 
  border-radius: 1px; 
  transition: background-color 0.3s ease;
}


.cadre {
  border: 1px solid #a5a4a4; 
  padding: 6px; 
  display: inline-block; 
  position: relative; 
  width: 450px;
  height: 45px;
  background-color: #a5a4a4;
}

input[type="checkbox"] {
  position: absolute; 
  top: 30%; 
  left: 10px; 
  transform: scale(2); 
  margin-right: 40px;
}

label {
  font-family: "Space Grotesk", sans-serif;
  display: inline-block; 
  margin-left: 30px; 
  line-height: 1.5; 
  color:#ffffff;
  font-size: 20px;
}

.container1 {
  position: absolute; 
  top: 140%;
  left: 18%;  
  width: 40px; 
  height: 90px; 
  background-color: none; 
}

.container1 img{
  max-width: 500%;
  height: auto;
}


footer {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
}

footer section {
  width: 86%;
  border-style: solid;
  border-color: rgba(188, 187, 189, 0.2);
  border-top: none;
  border-left-width: 0.1rem;
  border-right-width: 0.1rem;
  border-bottom: none;
  display: grid;
  place-items: center;
}

footer section p {
  color: #C4C4C4;
  font-family: "Space Grotesk", sans-serif;
  font-size: 12px;
  display: flex;
  align-items: center;
}

footer section p img {
  margin: 0 1em;
}

footer section .logos-footer {
  margin-bottom: 14rem;
  display: flex;
  align-items: center;
}

footer section .logos-footer img {
  margin: 0 1em;
}
footer section .logos-footer img:hover {
  cursor: pointer;
  filter: brightness(75%) sepia(80) saturate(20) hue-rotate(5deg);
}


